
#jquery-loader.blue-with-image-2{
    border:none;
    padding-top:35px;
    background-color: transparent;
    text-align: center;
    background-image: url(../pictures/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;

}
