
#jquery-loader.blue-with-image-2{
    border:none;
    padding-top:35px;
    background-color: transparent;
    text-align: center;
    background-image: url(../pictures/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;

}

.myfix {
    margin-top: 2px;
}

.find-block {
    margin-top: 20px;
    margin-bottom: 20px;
}
.collapse-arrow {
    margin-top: 7%;
}

.page-header .container {
    padding-top: 150px;
}

.top-block {
    padding-top: 15px;
}
.select-with-transition .caret {
    display: block;
}